<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>DataSharing</title>
  </head>
  <%- include('navbar.ejs') %>

  <body>
    <div class="mx-auto">
      <div class="container">
        <h1>show detail <%= data.data_name %></h1>
        <div>created at: <%= data_current.datetime %></div>
        <div>created by id:<%= data_current.user_name %></div>
        <br />

        <!-- show content -->
        <h5>Contents</h5>
        <table>
          <tbody>
            <% contents.forEach((content, key)=> { %>
            <tr>
              <td class="pr-2"><%= content.method %></td>
              <td><%= content.value %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>

        <br />

        <!-- show histories -->
        <h5>Histories</h5>

        <table class="">
          <tbody>
            <% histories.forEach((history, key)=> { %>
            <tr>
              <% if (history.version == current_version) { %>
              <td class="font-weight-bold pr-1"><%= history.version %>.</td>
              <td class="font-weight-bold"><%= history.text %></td>
              <% } else { %>
              <td class="pr-1"><%= history.version %>.</td>
              <td><%= history.text %></td>
              <% } %>
            </tr>
            <% }) %>
          </tbody>
        </table>

        <br />
        <br />
        <br />

        <div>Current Version: <%= current_version %></div>

        <!-- <button>Edit</button> -->
        <button onclick="location.href='/data/add/<%= data.data_name %>'">
          New Version
        </button>
      </div>
    </div>
  </body>
</html>
