<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="mx-auto">
      <br />
      <div class="container">
        <h4>version <%= new_version %> of <%= data.data_name %></h4>
        <button class="btn-add-input">append Row</button>
        <form action="/data/add?version=<%= new_version %>" method="post">
          <input hidden name="dataName" value="<%= data.data_name %>" />
          <div class="data-inputs">
            <!-- inputs -->

            <input hidden name="method" class="m-1" /><input
              hidden
              name="value"
            /><br />
            <!-- <input name="method" class="m-1" /><input  name="value" /><br> -->

            <% contents.forEach((content, key) => { %>
            <input
              autocomplete="off"
              name="method"
              type="text"
              class="m-1"
              value="<%= content.method  %>"
            /><input
              autocomplete="off"
              name="value"
              type="text"
              value="<%= content.value  %>"
            />
            <br />
            <% }) %>
          </div>
          <div class="m-1">new version label</div>

          <input
            type="text"
            value="revise"
            class="m-1"
            autocomplete="off"
            name="versionText"
            placeholder="text"
          />
          <br />
          <br />
          <button>Done</button>
          <br />
          <br />

          <% for (let i = 0; i < message.length; i ++) { %>
          <div class="alert alert-primary" role="alert"><%= message %></div>
          <% } %>
          <br />
        </form>
      </div>
    </div>
  </body>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  <script>
    $(".btn-add-input").on("click", function () {
      var template = `<input name="method"  autocomplete="off" class="m-1" /><input autocomplete="off" name="value" /><br />`;
      $(".data-inputs").append(template);
      console.log("dd");
    });
  </script>
</html>
